JLibEditor/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
JLib/.vs/JLib/v14/.suo
JLib/.vs/JLib/v14/.suo
JLib/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
JLib/.vs/JLib/v14/.suo
JLibEditor/obj/Release/JLibEditor.csprojResolveAssemblyReference.cache